ul{
    border: 2px skyblue;
    background: #f3fbff;
    margin: auto;
}

.side {
  background-color:#ff838b;
  width:20%;
} 

.content {
  background-color:#b3d874;
  width:75%;
  margin-left:10px;
}

article {
  display:flex;
}
