ul{
    border: 2px skyblue;
    background: #f3fbff;
    margin: auto;
}

.side {
  background-color:#ff838b;
  width:100px;
  height:300px;
  text-align:center;
} 

.content {
  background-color:#b3d874;
  width:250px;
  height:300px;
  text-align:center;
  margin-left:10px;
}

article {
  display:flex;
}
